
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

body {
    background:url(TdSIj.jpg);
    background-size: cover;
    background-position: center;
    color: #333;
    line-height: 1.6;
}

header {
    background: #0d47a1;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 5px;
}


nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: 500;
    transition: 0.3s;
    
}

nav a:hover {
    color: #ffcc00;
    transform:scale(2);
    border: 3px solid blueviolet;
    border-radius: 11px;
    font-size: 20px;
}
.contact {
    width: auto;
    margin: auto;
}

.contact input{
    color:black;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    border:3px solid rgb(226, 92, 43);
    border-radius: 15px;
    font-size: 15px;
    padding:10px 50px;
    border:0px;
    width: 80%;
    
  
}
.contact textarea{
    color:black;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    border:3px solid rgb(226, 83, 43);
    border-radius: 15px;
    font-size: 15px;
    padding:10px 50px;
    border:0px;
    width: 80%;
}

.contact input:hover, textarea:hover{
    color: aqua;
    border: 3px solid blue;
}
 #gendermfo{
    display: flex;
    width: 50%;
}

#fieldset{
    align-items: center;
    margin-left: 30%;
    margin-right: 20%;
    padding: 20px;
}
#fieldset label{
    margin-left: auto;
    

}
#view {
    background-color: #2d620a;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 15px;
}
#view:hover{
color: #ffcc00;
border: 3px solid blue;
border-radius: 15px;
font-size: 20px;
}
#button{
    background: #6bc119;
    font-size: 30px;
    border: 3px solid blue;
    border-radius: 15px;
}

#button:hover{
    color: blue;
    background-color: rgb(210, 210, 226);
    font-size: 40px;
}
footer{
    background-color: #333;
    padding: 30px;
    text-align: center;
    color: gray;

}
footer a:hover{
    color: #ffcc00;
    font-size: 20px;
    text-decoration: underline;

}
 nav a {
    text-decoration: none;
    color: white;
    background: #333;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
}
img{
    border: 3px solid blue;
    border-radius: 15px;

}

@media (max-width: 600px) {

    header h1 {
        font-size: 20px;
    }

    nav a {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    .contact input,
    .contact textarea {
        width: 95%;
        padding: 10px;
        font-size: 14px;
    }

    #fieldset {
        margin-left: 5%;
        margin-right: 5%;
    }

    #gendermfo {
        flex-direction: column;
        align-items: flex-start;
    }

    #button {
        font-size: 20px;
        width: 80%;
    }

    img {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 900px) {

    nav a {
        margin: 10px;
        font-size: 14px;
    }

    .contact input,
    .contact textarea {
        width: 90%;
    }

    #fieldset {
        margin-left: 10%;
        margin-right: 10%;
    }

    #button {
        font-size: 25px;
    }
}
@media (min-width: 1200px) {

    .contact input,
    .contact textarea {
        width: 60%;
    }

    #fieldset {
        margin-left: 25%;
        margin-right: 25%;
    }
}

